{% extends "layout.html" %}
{% block content %}
    <div class="home-presentation">
        
        <p class="accent-text">PABLO PACHECO | ESTUDIANTE DE INGENIERIA DE SISTEMAS</p>

        <h1 class="main-title">Aprendo Desarrollo Python y Automatización</h1> 

        <p class="description-text">
            Actualmente, curso el 5to semestre de Ingeniería en Sistemas en el Politécnico Santiago Mariño. Mi enfoque principal es el **Desarrollo Backend con Flask** y la creación de soluciones eficientes mediante la automatización de procesos.
        </p>

        <a href="{{ url_for('about') }}" class="cv-button">CONOCE MI TRABAJO</a>
    </div>
{% endblock content %}