<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog Personal{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v='5') }}">
</head>
<body>
   <header>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='img/PSM Logo.jpg') }}" 
             alt="Logo PSM" 
             class="header-logo">
    </div>
    
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('about') }}">Sobre Mí</a>
        <a href="{{ url_for('contact') }}">Contacto</a>
    </nav>
</header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2025 PABLO PACHECO</p>
    </footer>
</body>
</html>